body {
    box-align: center;
    display: block;
    background-color: aquamarine;
}
h1 {
    box-sizing: border-box;
    font-family: 'Grand Hotel', cursive;
    font-size: 60px;
    text-align: center;
    color: black;
    text-shadow: 5px 10px magenta;
    background-color: blueviolet;
    padding: 0;
}
img {
    position: relative;
    /*left: 450px;
    width: 450px;
    height: 450px;*/
    width: 100%;
    border-radius: 50px;
    box-sizing: border-box;
}
 
img.kiki {
    display: none;
}

@media screen and (max-width: 320px) {
body {
    background-color: blueviolet;
}
h1 {
    font-size: 20px;
    text-align: center;
}
img.kiki {
    display: block;
}
img.picture {
    display: none;
}
}
    