body {
    background-image: url(https://cdn.pixabay.com/photo/2016/11/23/17/21/bloom-1853920_960_720.jpg);
    /*background-repeat: no-repeat;*/
    box-align: center;
    display: block;
}
h1 {
    box-sizing: border-box;
    font-family: 'Grand Hotel', cursive;
    font-size: 60px;
    text-align: center;
    color: black;
    text-shadow: 5px 10px magenta;
    background-color: blueviolet;
    padding: 0;
}
img {
    position: relative;
    /*left: 450px;
    width: 450px;
    height: 450px;*/
    width: 100%;
    border-radius: 50px;
    box-sizing: border-box;
}
 
img.kiki {
    display: none;
}

@media screen and (max-width: 320px) {
body {
    background-image: (https://lh3.googleusercontent.com/JufqWgNCFp---dcG9Bkn2QN_gOmWLQfiyT6ZZRsioto1JmWfTzFwun-BkJiIIrChsG4TyPrQxAvXjKsR-8gfEMx9T9F82CBe8dxf7ucS9WdJfU8Xw61SKVShJQk_9UL76OlTnwBYOTn5NNsHMGQWuGFzLDgPRIVWsWg2dxIyZYoK8Pdehpm6inzrMf0tJpwDw9HBEOukBcgHT7rfjefUip38gR4ch7O1ncJykFe7Ojl8KibsmtmB5F0TBMYExiyXypREhjYnUmimzNexXpbKD7X4Zuy4wM1EavbFbc2TmdhlHtm3_JHcgRtYZZBW7rhlIUfxqaw2Zn2c1deZ_Jq5XRF21vXJ3KeQsgXoCOJwmp7E3yShpdI3KEm8fJxRg77G7e7ySCbmccmmHeX2MjbJPPGLa_H-0-KOjgrcD5BqIa7hYxgh29ybYqh_QugWHXOEUzI2EDTPsEaoL6-8Mfe8Ra82WjIrpk9A_dBPYLGS6PRcwutvXMY8-tCXXroP9LykicEJEWnHVHeiFW9mw68uQCJkE3zFm9owHNHB1j90xneapGkXgOHJC5wPTG-3VoSTYFbFKA7OmgYGC5FHEBXH3BeDQg16DpoFT_4ZM5s=w508-h677-no);
}
h1 {
    font-size: 20px;
    text-align: center;
}
img.kiki {
    display: block;
}
img.picture {
    display: none;
}
}
    